.DS_Store
.idea/
.vscode/

# Flutter
**/.dart_tool/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.packages
**/build/
**/coverage/

# Python
**/.venv/
**/.pytest_cache/
**/.ruff_cache/
**/__pycache__/
**/.mypy_cache/
**/*.pyc

# Local env
**/.env
**/.env.*

